@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Medium.eot');
	src: url('../fonts/manifold/ManifoldDSA-Medium.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Medium.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-MediumItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBold.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBold.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBold.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Regular.eot');
	src: url('../fonts/manifold/ManifoldDSA-Regular.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Regular.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-LightItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-LightItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-LightItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBold.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Heavy.eot');
	src: url('../fonts/manifold/ManifoldDSA-Heavy.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Heavy.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Light.eot');
	src: url('../fonts/manifold/ManifoldDSA-Light.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Light.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-RegularItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic.eot');
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-BoldItalic.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Bold.eot');
	src: url('../fonts/manifold/ManifoldDSA-Bold.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Bold.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-LightItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-LightItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-LightItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-LightItalic_1.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Heavy_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-Heavy_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Heavy_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Heavy_1.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-BoldItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-BoldItalic_1.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Regular_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-Regular_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Regular_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Regular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-MediumItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-MediumItalic_1.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_1.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBold_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBold_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBold_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBold_1.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Medium_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-Medium_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Medium_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Medium_1.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_1.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Bold_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-Bold_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Bold_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Bold_1.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Light_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-Light_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Light_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Light_1.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBold_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBold_1.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic_1.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic_1.eot');
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic_1.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-RegularItalic_1.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-RegularItalic_1.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-LightItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-LightItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-LightItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-LightItalic_2.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-BoldItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-BoldItalic_2.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Bold_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-Bold_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Bold_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Bold_2.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Light_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-Light_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Light_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Light_2.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_2.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic_2.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBold_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBold_2.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Medium_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-Medium_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Medium_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Medium_2.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Regular_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-Regular_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Regular_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Regular_2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Heavy_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-Heavy_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Heavy_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Heavy_2.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-MediumItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-MediumItalic_2.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_2.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBold_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBold_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBold_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBold_2.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic_2.eot');
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic_2.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-RegularItalic_2.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-RegularItalic_2.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBold_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBold_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBold_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBold_3.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Light_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-Light_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Light_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Light_3.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBold_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBold_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBold_3.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-BoldItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-BoldItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-BoldItalic_3.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Demi';
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-DemiBoldItalic_3.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-HeavyItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-HeavyItalic_3.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Heavy_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-Heavy_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Heavy_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Heavy_3.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-RegularItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-RegularItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-RegularItalic_3.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA Extra';
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-ExtraBoldItalic_3.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-MediumItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-MediumItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-MediumItalic_3.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Regular_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-Regular_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Regular_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Regular_3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-LightItalic_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-LightItalic_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-LightItalic_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-LightItalic_3.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Bold_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-Bold_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Bold_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Bold_3.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Manifold DSA';
	src: url('../fonts/manifold/ManifoldDSA-Medium_3.eot');
	src: url('../fonts/manifold/ManifoldDSA-Medium_3.eot?#iefix') format('embedded-opentype')
		url('../fonts/manifold/ManifoldDSA-Medium_3.woff') format('woff')
		url('../fonts/manifold/ManifoldDSA-Medium_3.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

