---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.titleprefix }}{{ page.title }}</title>

  <link href="/css/main.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- https://leaverou.github.io/prefixfree/ -->
  <script src="/js/prefixfree.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Boulder DSA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>-->
        <li><a href="/about/">About Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Working Groups <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/groups/housing/">Housing Justice</a></li>
            <li><a href="/groups/medicare/">Medicare for All</a></li>
          </ul>
        </li>
        <li><a href="/calendar/">Calendar</a></li>
        <li><a href="/join/">Join us</a></li>
      </ul>
      <!-- Social media icons on rhs of navbar?
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Social media icons?</a></li>
      </ul>
      -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div> <!-- main content -->
{{ content }}
</div> <!-- end main content -->


</body>
</html>
